@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------       Fonts       ------------- */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quattrocento&family=Cookie&family=Grand+Hotel&family=Dancing+Script&display=swap");

.dm-serif-display {
    font-family: "DM Serif Display", serif;
}

.quattrocento {
    font-family: "Quattrocento", serif;
}

.cookie {
    font-family: "Cookie", cursive;
}

.grand-hotel {
    font-family: "Grand Hotel", cursive;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
}

/* -------------       NavBar       ------------- */

.diagonal-image-container {
    position: relative;
    display: inline-block;
}

.diagonal-image {
    position: absolute;
    top: -123px;
    left: 40px;
    transform: rotate(90deg);
    opacity: 0.3;
    z-index: -1;
}

.diagonal-image-small {
    position: absolute;
    top: -51px;
    left: -15px;
    transform: rotate(90deg);
    opacity: 0.3;
    z-index: -1;
}

/* -------------       Home       ------------- */

/* -------------       Portfolio       ------------- */

.zoom-effect {
    transition: transform 0.3s ease;
}
.zoom-effect:hover {
    transform: scale(1.1);
}

.instagram-header {
    background-image: url("../../public/glass-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

.blurInsta {
    position: absolute;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1)
    );
    width: 100%;
    height: 100%;
    backdrop-filter: blur(40px);
    border-radius: 40px;
}

/* -------------       Pricing       ------------- */

.blurblur {
    position: absolute;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.1)
    );
    width: 100%;
    height: 100%;
    backdrop-filter: blur(40px);
    border-radius: 40px;
}

.text-image {
    background-image: url("../../public/Holographic/holo-crinkle.png");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* -------------       Reviews       ------------- */

.card-wrap {
    margin: 10px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
    border-style: none;
}

/* -------------       first-time-client       ------------- */

  .custom-checkbox {
    position: relative;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
  }
  
  .custom-checkbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #baa5ef;
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
  
  .custom-checkbox:checked::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  .custom-checkbox:checked {
    background-color: #d4e9fc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
