@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------       Fonts       ------------- */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quattrocento&family=Cookie&family=Grand+Hotel&family=Dancing+Script&display=swap");

.dm-serif-display {
    font-family: "DM Serif Display", serif;
}

.quattrocento {
    font-family: "Quattrocento", serif;
}

.cookie {
    font-family: "Cookie", cursive;
}

.grand-hotel {
    font-family: "Grand Hotel", cursive;
}

.dancing-script {
    font-family: "Dancing Script", cursive;
}


/* -------------       NavBar       ------------- */

.diagonal-image-container {
    position: relative;
    display: inline-block;
  }
  
  .diagonal-image {
    position: absolute;
    top: -140px; 
    left: 40px;
    transform: rotate(90deg);
    opacity: .5; 
    z-index: -1;
  }

  .diagonal-image-small {
    position: absolute;
    top: -52px; 
    left: -10px;
    transform: rotate(90deg);
    opacity: .5; 
    z-index: -1;
  }




/* -------------       Home       ------------- */



/* -------------       Portfolio       ------------- */

.zoom-effect {
    transition: transform 0.3s ease;
}
.zoom-effect:hover {
    transform: scale(1.1);
}

/* -------------       Pricing       ------------- */

/* .triangle-background {
    position: absolute;
    top: 0;
    left: 10rem;
    width: 110%;
    height: 200%;
    background-color: #dbbae1;
    transform-origin: top left;
    transform: rotate(30deg) translateY(-100%);
    opacity: 0.6;
    overflow: hidden;
} */
