@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------       Fonts       --------------- */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quattrocento&family=Cookie&family=Grand+Hotel&family=Dancing+Script&display=swap');


.dm-serif-display {
    font-family: 'DM Serif Display', serif;
  }
  
  .quattrocento {
    font-family: 'Quattrocento', serif;
  }

  .cookie {
    font-family: 'Cookie', cursive;
  }
  
  .grand-hotel {
    font-family: 'Grand Hotel', cursive;
  }
  
  .dancing-script {
    font-family: 'Dancing Script', cursive;
  }
